<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="img-container">
        <img class="img-header" src="/pictures/two-mountains.png" alt="two-mountains" />
        <h3 class="title-header">{{ companyName }}</h3>
      </div>
      <nav class="nav">
        <ul class="nav-list fs-18">
          <li class="nav-item">
            <a class="nav-item-link" href="#">Главная</a>
          </li>

          <li class="nav-item"><a class="nav-item-link" href="#">Про гида</a></li>
          <li class="nav-item"><a class="nav-item-link" href="#">Программа тура</a></li>

          <li class="nav-item"><a class="nav-item-link" href="#">Блог</a></li>

          <li class="nav-item"><a class="nav-item-link" href="#">Стоимость</a></li>
          <li class="nav-item"><a class="nav-item-link" href="#">Контакты</a></li>
        </ul>
      </nav>
      <button class="nav-btn">Консультация</button>
    </div>
  </div>
</header>
<main class="main">
  <section class="hero">
    <img class="background-nature" src="/pictures/background-nature.png" alt="background-nature" />
    <div class="container">
      <div class="hero-container">
        <h1 class="search-title fs-50">
          Насладись прогулкой в&nbsp;горах с&nbsp;командой единомышленников
        </h1>
        <div class="search-container">
          <ul class="search-wrapper">
            <li class="search-wrapper-item">
              <div class="search-wrapper-item-block">
                Локация для тура<img src="/pictures/arrow-down.png" alt="arrow-down" />
              </div>
              <span>выберите из списка</span>
            </li>
            <li class="search-wrapper-item">
              <div class="search-wrapper-item-block">
                Дата похода<img class="calendar" src="/pictures/calendar.png" alt="calendar" />
              </div>
              <span>укажите дату</span>
            </li>
            <li class="search-wrapper-item">
              <div class="search-wrapper-item-block">
                Участники<img src="/pictures/arrow-down.png" alt="arrow-down" />
              </div>
              <span>выберите из списка</span>
            </li>
            <button class="search-button">Найти программу</button>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
