.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.012em;
  border: none;
  border-radius: 4px;
}

.btn--primary {
  background-color: #1A3E3E;
  padding: 16px 36px;
  color: var(--white-color);
}

.btn--secondary {
  background-color: var(--white-color);
  padding: 12px 25px;
  color: #1A3E3E;
}